{% extends 'base.html' %}

{% block extrahead %}
<title>L'Restoractio</title>
{% endblock extrahead %}
{% block content %}
<section class="heading-bg">
  <div class="shadow">
    <span class="logosvg">&#xe8ff;</span>
    <div>
      <h1>Bonvenon al restoracio</h1>
      <p>Bienvenidos al restaurante l’restoracio, una mezcla de sabores para tu paladar. Aquí encontrarás los mejores platillos de hamburguesas junto con sus mejores bebidas, te ofrecemos nuestra estupenda atención a la carta con un espectacular servicio al cliente.</p>
      <p>Degusta un rico platillo en compañía de tus seres queridos y vive une experiencia en l’restoracio que no podrás olvidar. Y recuerda “no hay personas mejores que aquellas que les encanta la buena comida”.</p>
      <p>Te esperamos en nuestros puntos físicos o realizando tu pedido en nuestra web.</p>
    </div>
  </div>
</section>
<!-- Fotos del restaurante en slides -->
<section>
  <h2>Mira nuestros platos más pedidos</h2>
  <div class="slide_container">
    <div class="slides">
      <div class="slide">
      
      </div>
    </div>
    <div class="slide_controls">
      <button type="button" class="slide_btn_left"></button>
      <button type="button" class="slide_btn_right"></button>
    </div>
  </div>
</section>
{% endblock content %}
