{% extends 'base.html' %}
{% load static  %}

{% block extrahead %}
<title>Puntos de servicio</title>
<script src="{% static 'js/maps.js' %}" charset="utf-8"></script>
{% endblock extrahead %}
{% block content %}
      <section>
        <div style="width: 50%;height:600px;" id="maps"  >

        </div>
      </section>
		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzVu-WQ94JG20TqvOKGblIGvUyPYZeiLc&callback=initMaps"></script> -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMhB_Bbo2hqNLG4eTh1VNQfCR8yH9f6g4&callback=initMaps"></script>
{% endblock content %}
		</main>
		<footer>
      <div class="wrap">
        <!-- Contactos -->
        <section>
          <h3>Contáctenos</h3>
          <p>Siguenos en nuestras redes sociales</p>
          <ul>

          </ul>
        </section>
      </div>
		</footer>
	</body>
</html>
