{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<title>Menú del restaurante</title>
<script src="{% static 'js/menu.js' %}" charset="utf-8"></script>
{% endblock extrahead %}
{% block content %}
<section>
  <h2>Menú completo</h2>
  <p>Aquí podrás encontrar el menú completo</p>
</section>
<section>
  <h2>Menú de platillos</h2>
  {% for platillo in menu_list %}
  <article>
    <img src="{{ platillo.img_url }}">
    <h3>{{ platillo.nombre }}</h3>
    <p>{{ platillo.descripcion }}</p>
  </article>
  {% endfor %}
</section>
{% endblock content %}
