@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
	--c1: #F2A007; /* Yellow   */
	--c2: #BF7330; /* Orange L */
	--c3: #D95407; /* Orange D */
	--c4: #BF8D7A; /* Brown L  */
	--c5: #593831; /* Brown D  */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: sans-serif;
}

header {
	background-color: var(--c2);
	color: #fff;
	display: flex;
	justify-content: space-between;
}

nav {
  display:flex;
}

nav ul {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {}

nav ul li a {
  text-decoration: none;
  display:block;
  color: inherit;
  padding: 1em;
}

nav ul li a:hover{
  background-color: var(--c4);
}

.logo {
	font-family: 'Caveat', cursive;
	padding: 1em;
}

.heading {
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0e/25/87/84/delicious-menu-of-our.jpg'); 
  /* background-image: url('https://img.freepik.com/foto-gratis/mesa-banquete-aperitivos_144627-18361.jpg?w=2000');
  background-size: cover;*/
  /*background: cover url('https://img.freepik.com/foto-gratis/mesa-banquete-aperitivos_144627-18361.jpg?w=2000') ; */
  min-height: 400px;
  height: 6vh;
  color: #fff;
}
