:root {
	--c1: #F2A007;
	--c2: #BF7330;
	--c3: #D95407;
	--c4: #BF8D7A;
	--c5: #593831;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: sans-serif;
}

/* theme */
/* Color Theme Swatches in Hex */
/* .Platillo-Petite-1-hex { color: #F2A007; }
.Platillo-Petite-2-hex { color: #BF7330; }
.Platillo-Petite-3-hex { color: #D95407; }
.Platillo-Petite-4-hex { color: #BF8D7A; }
.Platillo-Petite-5-hex { color: #593831; } */

/* Color Theme Swatches in RGBA */
/* .Platillo-Petite-1-rgba { color: rgba(242, 160, 7, 1); }
.Platillo-Petite-2-rgba { color: rgba(191, 114, 47, 1); }
.Platillo-Petite-3-rgba { color: rgba(216, 83, 6, 1); }
.Platillo-Petite-4-rgba { color: rgba(191, 140, 122, 1); }
.Platillo-Petite-5-rgba { color: rgba(89, 56, 49, 1); } */

/* Color Theme Swatches in HSLA */
/* .Platillo-Petite-1-hsla { color: hsla(39, 94, 48, 1); }
.Platillo-Petite-2-hsla { color: hsla(28, 60, 46, 1); }
.Platillo-Petite-3-hsla { color: hsla(22, 94, 43, 1); }
.Platillo-Petite-4-hsla { color: hsla(16, 35, 61, 1); }
.Platillo-Petite-5-hsla { color: hsla(11, 29, 27, 1); } */
