@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Slab&display=swap');
@import "icons/icomoon.css";

:root {
	--c1l: #F5E8E4;
	--c1:  #F2A007; /* Yellow   */
	--c1d: #A57262;
	--c2:  #BF7330; /* Orange L */
	--c3:  #D95407; /* Orange D */
	--c4:  #BF8D7A; /* Brown L  */
	--c5:  #593831; /* Brown D  */
}

h1,h2,h3,h4,h5,h6, .ff-caveat {
	font-family: 'Caveat', cursive;
  font-weight: 500;
}

a {color: var(--c1); text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  background-color: var(--c1l);
	font-size: 16px;
	font-family: 'Roboto Slab',  sans-serif;
}

.wrap {
  max-width: 1200px;
  width:100%;
  margin: auto;
}

header {
	color: var(--c1);
	background-color: #fff;
}

header a:hover {
	text-decoration: none;
}

header .wrap {
	display: flex;
	justify-content: space-between;
}

@font-face {
  font-family: 'restaurantlogo';
  src:
    url('logo_glyph.ttf?ihlrdb') format('truetype'),
    url('logo_glyph.svg?ihlrdb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.logosvg {
	/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	/* content: "\f1"; */
	/* font-size: 3em; */
}

nav {
	display:flex;
}

nav ul {
	list-style-type: none;
	display:flex;
	flex-direction: row;
	align-items: center;
}

nav ul li {}

nav ul li a {
	display:block;
	padding: 1em;
}

nav ul li a:hover{
	text-decoration: none;
	background-color: var(--c1);
  color: #fff;
}

.logo {
	padding: 1em;
}

.heading {
	/* background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0e/25/87/84/delicious-menu-of-our.jpg'); */
	/* background-image: url('https://img.freepik.com/foto-gratis/mesa-banquete-aperitivos_144627-18361.jpg?w=2000');
	background-size: cover;*/
	/*min-height: 400px;*/
	/*height: 6vh;*/
	color: #fff;
  text-align: center;
	background: url('https://img.freepik.com/foto-gratis/mesa-banquete-aperitivos_144627-18361.jpg?w=2000') center/cover ;
  padding: 0;
}

.heading .shadow {
  background: radial-gradient(#0003 , #000a 200%);
  height: 100%;
  padding: 15px;
}

.heading h1,
.heading p {
  padding: 30px 15px;
}

main section,
footer section {
  padding: 15px;
}

main section {
  background-color: #fff;
}

section h2,
section h3,
section h4,
section h5,
section h6,
section p{
	margin: 10px;
}

footer {
	background: var(--c1d);
	color: var(--c1l);
}
